html
  head
    script(src='https://use.fontawesome.com/d87d71a8c7.js')
    link(rel='stylesheet' type='text/css' href="/index.css")
  body
    each datum in data
      p
        - if (datum.type === 'dir') {
          i(class='fa fa-level-down' aria-hidden='true')
        - } else {
          i(class='fa fa-file' aria-hidden='true')
        - }
        a(href=datum.url)=datum.name
